//Loot Screen
.lootScreen {
    background-image: url(../Assets/backgrounds/warpPad.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    .lootSteven {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        bottom: 7%;
        right: 2%;
        margin-left: 10px;
        .stevenLootTxtContainer {
            background-color: $levelTwoTxt;
            max-width: 500px;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .stevenLootImgContainer {
            max-width: 300px;
        }
    }
    .lootSection {
        position: absolute;
        bottom: 20%;
        left: 40%;
        .lootDisplay {
            max-width: 300px;
            p {
                background-color: $secondaryStar;
                border-radius: 15px;
                padding: 20px;
                margin-top: 20px;
            }
        }
        .lootImgContainer {
            max-width: 300px;
        }
    }
    .lootScreenButton {
        background-color: $palePink;
        border-radius: 15px;
        padding: 20px;
        font-family: $titleFont;
        color: $deepBrown;
        font-size: 4rem;
        box-shadow: 5px 5px $primaryStar;
        position: absolute;
        bottom: 5%;
        left: 40%;
        margin-left: 5%;
    }
}

//end of loot screen