// Color Variables
$deepBrown: #1f0c07;
$lightPurple: #978AC4;
$palePink: #FB5B68;
$primaryStar: #FFFBA2;
$secondaryStar: #FFDD50;
$levelTwoTxt: #DD504B;
$lightWhite: #fbfbfb;
// Font Variables 
$mainFont: 'Fredoka One',
cursive;
$titleFont: 'Luckiest Guy',
cursive;
//Imports
@import "partials/setup";
.levelOne {
    background-image: url(../Assets/backgrounds/beachSide.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .lvlTitleContainer {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        h2 {
            font-size: 4rem;
            color: $lightPurple;
            text-shadow: -2px -2px 0 $secondaryStar;
            margin-left: 20px;
        }
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleImgContainer {
            width: 40%;
        }
    }
    .levelOneSteven {
        .stevenOneImgContainer {
            max-width: 300px;
        }
        .stevenOneTxtContainer {
            max-width: 500px;
            background-color: $palePink;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
    }
    .levelOneButton {
        background-color: $palePink;
        border-radius: 15px;
        padding: 20px;
        font-family: $titleFont;
        color: $deepBrown;
        font-size: 4rem;
        box-shadow: 5px 5px $primaryStar;
        margin-bottom: 20px;
    }
    .lvlOneStarOne,
    .lvlOneStarTwo,
    .lvlOneStarThree,
    .lvlOneInventory {
        position: absolute;
    }
    .lvlOneStarOne {
        top: 5%;
        left: 5%;
    }
    .lvlOneStarTwo {
        top: 20%;
        right: 10%;
    }
    .lvlOneStarThree {
        top: 50%;
        right: 20%;
    }
    .lvlOneInventory {
        top: 50%;
        left: 5%;
    }
}

.bottomBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    color: $lightPurple;
    text-shadow: -2px -2px 0 $secondaryStar;
    z-index: 2;
    .hCounter {
        margin-left: 20px;
    }
    .hInventory {
        margin-right: 20px;
    }
}

h1 {
    font-family: $mainFont;
    color: $palePink;
    text-shadow: -2px -2px 0 $secondaryStar;
    font-size: 4rem;
    margin-left: 150px;
    margin-top: -40px;
}

h2 {
    font-family: $titleFont;
}

p {
    font-family: $mainFont;
    color: $deepBrown;
    font-size: 2rem;
    margin: 0;
}

i {
    color: #FFFBA2;
    text-shadow: 5px 5px #FFDD50;
    font-size: 6rem;
}

button {
    background: none;
    border: none;
}

.inventory {
    display: flex;
    .inventoryContainer {
        // display: inline;
        // width: 100px;
        // height: 100px;
        img {
            // display: inline;
            width: 100%;
        }
    }
}

// level One End
//Level Two Start
.levelTwo {
    background-image: url(../Assets/backgrounds/forestlevel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 0;
    .levelTwoSteven {
        position: absolute;
        bottom: 5%;
        left: 2%;
        .stevenTwoTxtContainer {
            background-color: $levelTwoTxt;
            max-width: 500px;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .stevenTwoImgContainer {
            max-width: 200px;
        }
    }
    .levelTwoButton {
        background-color: $palePink;
        border-radius: 15px;
        padding: 20px;
        font-family: $titleFont;
        color: $deepBrown;
        font-size: 4rem;
        box-shadow: 5px 5px $primaryStar;
        position: absolute;
        bottom: 5%;
        right: 40%;
    }
    .lvlTwoStarOne,
    .lvlTwoStarTwo,
    .lvlTwoStarThree,
    .lvlTwoInventory {
        position: absolute;
    }
    .lvlTwoStarOne {
        top: 5%;
        right: 5%;
    }
    .lvlTwoStarTwo {
        top: 30%;
        right: 70%;
    }
    .lvlTwoStarThree {
        bottom: 20%;
        right: 50%;
    }
    .lvlTwoInventory {
        top: 5%;
        left: 5%;
    }
}

//end of level 2
//start of level 3
.levelThree {
    background-image: url(../Assets/backgrounds/gemChamber.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    .levelThreeSteven {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        bottom: 5%;
        right: 2%;
        .stevenThreeTxtContainer {
            background-color: $levelTwoTxt;
            max-width: 500px;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .stevenThreeImgContainer {
            max-width: 200px;
        }
    }
    .levelThreeButton {
        background-color: $palePink;
        border-radius: 15px;
        padding: 20px;
        font-family: $titleFont;
        color: $deepBrown;
        font-size: 4rem;
        box-shadow: 5px 5px $primaryStar;
        position: absolute;
        bottom: 5%;
        right: 40%;
    }
    .lvlThreeStarOne,
    .lvlThreeStarTwo,
    .lvlThreeStarThree,
    .lvlThreeInventory {
        position: absolute;
    }
    .lvlThreeStarOne {
        top: 50%;
        right: 65%;
    }
    .lvlThreeStarTwo {
        top: 10%;
        left: 5%;
    }
    .lvlThreeStarThree {
        top: 20%;
        right: 60%;
    }
    .lvlThreeInventory {
        bottom: 40%;
        right: 30%;
    }
}

//Loot Screen
.lootScreen {
    background-image: url(../Assets/backgrounds/warpPad.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    .lootSteven {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        bottom: 7%;
        right: 2%;
        .stevenLootTxtContainer {
            background-color: $levelTwoTxt;
            max-width: 500px;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .stevenLootImgContainer {
            max-width: 300px;
        }
    }
    .lootSection {
        position: absolute;
        bottom: 20%;
        left: 40%;
        .lootDisplay {
            max-width: 300px;
            p {
                background-color: $secondaryStar;
                border-radius: 15px;
                padding: 20px;
                margin-top: 20px;
            }
        }
        .lootImgContainer {
            max-width: 300px;
        }
    }
    .lootScreenButton {
        background-color: $palePink;
        border-radius: 15px;
        padding: 20px;
        font-family: $titleFont;
        color: $deepBrown;
        font-size: 4rem;
        box-shadow: 5px 5px $primaryStar;
        position: absolute;
        bottom: 5%;
        right: 40%;
    }
}

//credits page
.credits {
    background-image: url(../Assets/backgrounds/finalCredits.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    .creditsText {
        padding-top: 200px;
    }
    .creditsText p {
        margin-bottom: 10px;
    }
    .creditsText,
    .creditsText p,
    .creditsText a {
        color: $lightWhite;
        text-align: center;
        // padding-top: 200px;
        // margin-top: 50%;
    }
    h3 {
        font-family: $mainFont;
        font-size: 4rem;
        margin-bottom: 20px;
    }
    .creditsSteven {
        position: absolute;
        top: 50%;
        right: 10%;
        .stevenCreditsTxtContainer {
            background-color: $levelTwoTxt;
            max-width: 500px;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .stevenCreditsImgContainer {
            max-width: 150px;
        }
    }
}

// TO DO
// Media Queries
// Update text so that it tells you to click button for next level
// clean up code and split into level partials