// Color Variables
$deepBrown: #1f0c07;
$lightPurple: #978AC4;
$palePink: #FB5B68;
$primaryStar: #FFFBA2;
$secondaryStar: #FFDD50;
$levelTwoTxt: #DD504B;
$lightWhite: #fbfbfb;
// Font Variables 
$mainFont: 'Fredoka One',
cursive;
$titleFont: 'Luckiest Guy',
cursive;
//Imports
@import "partials/setup";
@import "partials/levelOne";
@import "partials/levelTwo";
@import "partials/levelThree";
@import "partials/lootScreen";
@import "partials/credits";
@import "partials/mediaQueries";
// style stripping & defaults
html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    margin: 0;
}

img {
    // display: block;
    width: 100%;
}

h1 {
    font-family: $mainFont;
    color: $palePink;
    text-shadow: -2px -2px 0 $secondaryStar;
    font-size: 4rem;
    margin-left: 150px;
    margin-top: -40px;
}

h2 {
    font-family: $titleFont;
    letter-spacing: 2px;
}

p {
    font-family: $mainFont;
    color: $deepBrown;
    font-size: 2rem;
    margin: 0;
}

i {
    color: $primaryStar;
    text-shadow: 5px 5px $secondaryStar;
    font-size: 6rem;
}

button {
    background: none;
    border: none;
}

// End of Style Stripping