// Variables
$deepBrown: #1f0c07;
$lightPurple: #978AC4;
$palePink: #FB5B68;
$primaryStar: #FFFBA2;
$secondaryStar: #FFDD50;
//Imports
@import "setup";
// font-family: 'Fredoka One', cursive;
// font-family: 'Long Cang', cursive;
// font-family: 'Luckiest Guy', cursive;