html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.levelOne {
  background-image: url(../Assets/backgrounds/beachSide.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.levelOne .lvlTitleContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.levelOne .lvlTitleContainer h2 {
  font-size: 4rem;
  color: #978AC4;
  text-shadow: -2px -2px 0 #FFDD50;
  margin-left: 20px;
}

.levelOne header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.levelOne header .titleImgContainer {
  width: 40%;
}

.levelOne .levelOneSteven .stevenOneImgContainer {
  max-width: 300px;
}

.levelOne .levelOneSteven .stevenOneTxtContainer {
  max-width: 500px;
  background-color: #FB5B68;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.levelOne .levelOneButton {
  background-color: #FB5B68;
  border-radius: 15px;
  padding: 20px;
  font-family: "Luckiest Guy", cursive;
  color: #1f0c07;
  font-size: 4rem;
  -webkit-box-shadow: 5px 5px #FFFBA2;
          box-shadow: 5px 5px #FFFBA2;
  margin-bottom: 20px;
}

.levelOne .lvlOneStarOne,
.levelOne .lvlOneStarTwo,
.levelOne .lvlOneStarThree,
.levelOne .lvlOneInventory {
  position: absolute;
}

.levelOne .lvlOneStarOne {
  top: 5%;
  left: 5%;
}

.levelOne .lvlOneStarTwo {
  top: 20%;
  right: 10%;
}

.levelOne .lvlOneStarThree {
  top: 50%;
  right: 20%;
}

.levelOne .lvlOneInventory {
  top: 50%;
  left: 5%;
}

.bottomBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
  color: #978AC4;
  text-shadow: -2px -2px 0 #FFDD50;
  z-index: 2;
}

.bottomBar .hCounter {
  margin-left: 20px;
}

.bottomBar .hInventory {
  margin-right: 20px;
}

h1 {
  font-family: "Fredoka One", cursive;
  color: #FB5B68;
  text-shadow: -2px -2px 0 #FFDD50;
  font-size: 4rem;
  margin-left: 150px;
  margin-top: -40px;
}

h2 {
  font-family: "Luckiest Guy", cursive;
}

p {
  font-family: "Fredoka One", cursive;
  color: #1f0c07;
  font-size: 2rem;
  margin: 0;
}

i {
  color: #FFFBA2;
  text-shadow: 5px 5px #FFDD50;
  font-size: 6rem;
}

button {
  background: none;
  border: none;
}

.inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inventory .inventoryContainer img {
  width: 100%;
}

.levelTwo {
  background-image: url(../Assets/backgrounds/forestlevel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.levelTwo .levelTwoSteven {
  position: absolute;
  bottom: 5%;
  left: 2%;
}

.levelTwo .levelTwoSteven .stevenTwoTxtContainer {
  background-color: #DD504B;
  max-width: 500px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.levelTwo .levelTwoSteven .stevenTwoImgContainer {
  max-width: 200px;
}

.levelTwo .levelTwoButton {
  background-color: #FB5B68;
  border-radius: 15px;
  padding: 20px;
  font-family: "Luckiest Guy", cursive;
  color: #1f0c07;
  font-size: 4rem;
  -webkit-box-shadow: 5px 5px #FFFBA2;
          box-shadow: 5px 5px #FFFBA2;
  position: absolute;
  bottom: 5%;
  right: 40%;
}

.levelTwo .lvlTwoStarOne,
.levelTwo .lvlTwoStarTwo,
.levelTwo .lvlTwoStarThree,
.levelTwo .lvlTwoInventory {
  position: absolute;
}

.levelTwo .lvlTwoStarOne {
  top: 5%;
  right: 5%;
}

.levelTwo .lvlTwoStarTwo {
  top: 30%;
  right: 70%;
}

.levelTwo .lvlTwoStarThree {
  bottom: 20%;
  right: 50%;
}

.levelTwo .lvlTwoInventory {
  top: 5%;
  left: 5%;
}

.levelThree {
  background-image: url(../Assets/backgrounds/gemChamber.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.levelThree .levelThreeSteven {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 5%;
  right: 2%;
}

.levelThree .levelThreeSteven .stevenThreeTxtContainer {
  background-color: #DD504B;
  max-width: 500px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.levelThree .levelThreeSteven .stevenThreeImgContainer {
  max-width: 200px;
}

.levelThree .levelThreeButton {
  background-color: #FB5B68;
  border-radius: 15px;
  padding: 20px;
  font-family: "Luckiest Guy", cursive;
  color: #1f0c07;
  font-size: 4rem;
  -webkit-box-shadow: 5px 5px #FFFBA2;
          box-shadow: 5px 5px #FFFBA2;
  position: absolute;
  bottom: 5%;
  right: 40%;
}

.levelThree .lvlThreeStarOne,
.levelThree .lvlThreeStarTwo,
.levelThree .lvlThreeStarThree,
.levelThree .lvlThreeInventory {
  position: absolute;
}

.levelThree .lvlThreeStarOne {
  top: 50%;
  right: 65%;
}

.levelThree .lvlThreeStarTwo {
  top: 10%;
  left: 5%;
}

.levelThree .lvlThreeStarThree {
  top: 20%;
  right: 60%;
}

.levelThree .lvlThreeInventory {
  bottom: 40%;
  right: 30%;
}

.lootScreen {
  background-image: url(../Assets/backgrounds/warpPad.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.lootScreen .lootSteven {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 7%;
  right: 2%;
}

.lootScreen .lootSteven .stevenLootTxtContainer {
  background-color: #DD504B;
  max-width: 500px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.lootScreen .lootSteven .stevenLootImgContainer {
  max-width: 300px;
}

.lootScreen .lootSection {
  position: absolute;
  bottom: 20%;
  left: 40%;
}

.lootScreen .lootSection .lootDisplay {
  max-width: 300px;
}

.lootScreen .lootSection .lootDisplay p {
  background-color: #FFDD50;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.lootScreen .lootSection .lootImgContainer {
  max-width: 300px;
}

.lootScreen .lootScreenButton {
  background-color: #FB5B68;
  border-radius: 15px;
  padding: 20px;
  font-family: "Luckiest Guy", cursive;
  color: #1f0c07;
  font-size: 4rem;
  -webkit-box-shadow: 5px 5px #FFFBA2;
          box-shadow: 5px 5px #FFFBA2;
  position: absolute;
  bottom: 5%;
  right: 40%;
}

.credits {
  background-image: url(../Assets/backgrounds/finalCredits.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.credits .creditsText {
  padding-top: 200px;
}

.credits .creditsText p {
  margin-bottom: 10px;
}

.credits .creditsText,
.credits .creditsText p,
.credits .creditsText a {
  color: #fbfbfb;
  text-align: center;
}

.credits h3 {
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  margin-bottom: 20px;
}

.credits .creditsSteven {
  position: absolute;
  top: 50%;
  right: 10%;
}

.credits .creditsSteven .stevenCreditsTxtContainer {
  background-color: #DD504B;
  max-width: 500px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.credits .creditsSteven .stevenCreditsImgContainer {
  max-width: 150px;
}
